@import "tailwindcss";

@theme {
  --animate-spinBounce: spinBounce 0.3s ease-in-out;
  @keyframes spinBounce {
    0% {
      transform: rotate(0deg) scale(1);
    }
    50% {
      transform: rotate(90deg) scale(1.1);
    }
    100% {
      transform: rotate(180deg) scale(1);
    }
  }
}